<div class="h-full bg-white border-r border-gray 200 flex flex-col p-6">

    <div class="mb-10 flex items-center gap-2">
        <div class="w-8 h-8 bg-teal-600 rounded flex items-center justify-center text-white font-bold text-xl">G</div>
        <span class="text-3xl">Gestor</span>
    </div>

    <nav class="flex flex-col gap-8 text-xl w-48">
        <a class="flex flex-row items-center pl-8 transition-all" 
            routerLink="/inicio" 
            routerLinkActive="bg-teal-400 rounded font-semibold">
            Inicio
        </a>

        <a class="flex flex-row items-center pl-8 transition-all" 
            routerLink="/clientes" 
            routerLinkActive="bg-teal-400 rounded font-semibold">
            Clientes
        </a>

        <a class="flex flex-row items-center pl-8 transition-all" 
            routerLink="/produtos" 
            routerLinkActive="bg-teal-400 rounded font-semibold">
            Produtos
        </a>

        <a class="flex flex-row items-center pl-8 transition-all" 
            routerLink="/pedidos" 
            routerLinkActive="bg-teal-400 rounded font-semibold">
            Pedidos
        </a>
    </nav>

</div>